<html>
    <link rel="stylesheet" href="/styles/styling.css"></link>
    <body>
        {{>partials}}
        <p id="p"> Weather App</p>
        <ul>
 <a href='/'>Index</a>
 <a href='/weather'>weather</a>
 <a href='/about'>About</a>

        </ul>
       <hr>
   {{>footer}}
             
    </body>
</html>
