<html>
   <link rel="stylesheet" href="/styles/styling.css"></link>
   <title>Index</title>
    <body>
        {{>partials}}
        <p id="p"> Weather App</p>
        <ul>
<a href='/'>Index</a>
 <a href='/weather'>Weather</a>
 <a href='/about'>About</a>
        </ul>
      
      <p>Weather App With Node JS</p>
       <hr>
 {{>footer}}
 </body>
    
 
</html>